<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TriTsk</title>
    <script src="js/htmx.min.js"></script>
    <link rel="stylesheet" href="main.css">
</head>
<div class="navbar">
    <div hx-get="/hypermedia/users/current" hx-trigger="load" hx-swap="outerHTML"></div>
    <a href="/src/main.html">Main</a>
    <a href="/src/projects.html">Projects</a>
    <a href="/src/priorities.html">Priorities</a>
    <a href="/src/users.html">Users</a>
    <a hx-get="/hypermedia/tasks/calendar/2024/05" hx-push-url="true" hx-target=".main">Calendar</a>
</div>
    <div class="main">
        <body>
            <h1>TriTsk</h1>
            <div id="filters">
                <form hx-boost="true" hx-get="/hypermedia/tasks" hx-target="#tasks" hx-swap="innerHTML">
                    <div id="filter-priorities" hx-get="/hypermedia/priorities/list" hx-swap="afterbegin" hx-trigger="load" hx-target="#filter-priorities">
                    </div>
                    <div id="filter-status" hx-get="/hypermedia/status/list" hx-swap="afterbegin" hx-trigger="load" hx-target="#filter-status">
                     </div>
                     <div id="filter-projects" hx-get="/hypermedia/projects/list" hx-swap="afterbegin" hx-trigger="load" hx-target="#filter-projects">
                    </div>
                    <label for="deadline">Choose a deadline:</label>
                    <input type="datetime-local" 
                           id="deadline" 
                           name="deadline"><br>
                     <button type="submit">Get tasks</button>
                     <button hx-get="/hypermedia/tasks/tasks_by_project" 
                     hx-trigger="click" 
                     hx-target="#tasks" hx-swap="innerHTML">
                    Get tasks by project
                     </button>
                </form>
                <div id="tasks">
                </div>
            </div>
            <br>
            <br>
            <div>
                <div>
                    <button hx-get="/src/create-task.html" 
                            hx-trigger="click"
                            hx-swap="outerHTML"
                            hx-push-url="/src/create-task.html">
                        Create Task
                    </button>
                </div>
                <div>
                    <button hx-get="/src/create-subtask.html" 
                            hx-trigger="click"
                            hx-swap="outerHTML"
                            hx-push-url="/src/create-subtask.html">
                        Create Subtask
                    </button>
                </div>
            </div>
            <button hx-get="/hypermedia/logout"
                    hx-redirect="true">
            Log Out
            </button>
    </div>
</body>
</html>