<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <script src="js/htmx.min.js"></script>
    <link rel="stylesheet" href="main.css">
</head>
    <div class="navbar">
        <div hx-get="/hypermedia/users/current" hx-trigger="load" hx-swap="outerHTML"></div>
        <a href="/src/main.html">Main</a>
        <a href="/src/projects.html">Projects</a>
        <a href="/src/priorities.html">Priorities</a>
        <a href="/src/users.html">Users</a>
        <a hx-get="/hypermedia/tasks/calendar/2024/05" hx-push-url="true" hx-target=".main">Calendar</a>
    </div>
    <div class="main">
        <body>
            <h1>Users</h1>
            <div hx-get="/hypermedia/users/all" 
                 hx-trigger="load" 
                 hx-swap="outerHTML">
                >
                Loading...
            </div>

            <button hx-get="/hypermedia/logout"
                    hx-redirect="true">
                Log Out
            </button>
    </div>
</body>
</html>