.navbar {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

/* Navbar links styling */
.navbar a, p {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
}
/* Change color on hover */
.navbar a:hover {
    background-color: #575757;
}

/* Main content styling */
.main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}